.nav-container {
  width: 100%;
  background: #555;
}

.nav-ul__first {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.nav-ul__li__first {
  border-right: solid 1px #fff;
  flex-grow: 1;
}

.nav-ul__li__a {
  display: block;
  padding: 20px 25px;
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  text-align: center;
  flex-grow: 1;
}

.nav-ul__li__first:hover {
  background: #0003;
  transition: all 0.5s;
}

.nav-ul__second {
  list-style: none;
  padding: 0;
  position: absolute;
}

.nav-ul__li__a__second__sing {
  display: none;
  text-decoration: none;
  padding: 10px 15px;
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  text-align: center;
  flex-grow: 1;
}

.nav-ul__li__second {
  background: #5559;
  width: 100%;
  border-bottom: 1px solid #fff;
}

.nav-ul__li__second:hover {
  background: #0003;
  transition: all 0.5s;
}

.container-img__index {
  width: 100%;
  padding: 0;
  background: #000;
}

.img__index {
  width: 100%;
}

.nav-ul__li__first:hover .nav-ul__li__a__second__sing {
  display: block;
}

.nav-ul__li__a__second__month {
  display: none;
  text-decoration: none;
  padding: 10px 15px;
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  text-align: center;
  flex-grow: 1;
}

.nav-ul__li__first:hover .nav-ul__li__a__second__month {
  display: block;
}
